//---------------- Transitions ----------------
$transitionTime: 300ms;
$transitionCubic: cubic-bezier(0.4, 0, 0.2, 1);

//---------------- Colors ----------------
$mainTextColor: #000000;
$secondaryTextColor: #8d8d8d;
$titleColor: #aeaeae;
$mainBgColor: #f8f8f8;
$secondaryBgColor: #000000;
$mobileBgColor: #525a5c;
$accentColor: #df4e3c;
$validColor: #507a36;
$errorColor: #ff2307;
$borderColor: #BDBDBD;


//---------------- Fonts ----------------
$mainFont: 'Noto Sans', sans-serif;
$secondaryFont: 'Poppins', sans-serif;
$mainFontSize: 15px;
