<section class="hero" id="hero">
  <div class="hero-container">
    <h1 class="hero-title">The right way to get a car</h1>
    <div class="text-wrapper">
      <p class="text">
        Monza Motorsports is a boutique-style dealership specializing in premium
        imports. We offer an advanced online vehicle purchasing experience with
        integrated financing and contactless home delivery.
      </p>
      <p class="text">
        All of our cars come with a 5 day/500 kilometres no-hassle exchange
        option. Since 2012 Monza Motorsports has been the benchmark for
        innovation in the automotive industry.
      </p>
    </div>
    <button class="hero-button" type="button">Browse cars</button>
  </div>
</section>
