<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="logo-wrapper">
    <a href="./" class="link" aria-label="link to homepage">
      <img
        src="./assets/icons/logo.svg"
        alt="logo"
        class="logo"
        width="140"
        height="35"
      />
    </a>
    <button class="js-close-menu menu-btn">
      <svg class="menu-icon" width="20px" height="20px">
        <use href="./assets/icons/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
  <nav class="mobile-nav">
    <ul class="mobile-list" data-menu-nav>
      <li class="mobile-item">
        <a href="#offers" aria-label="to offers section" class="mobile-link"
          >Inventory</a
        >
      </li>
      <li class="mobile-item">
        <a
          href="#questions"
          aria-label="to questions section"
          class="mobile-link"
          >Financing</a
        >
      </li>
      <li class="mobile-item">
        <a
          href="#subscribe"
          aria-label="to subscribe section"
          class="mobile-link"
          >Contacts</a
        >
      </li>
    </ul>
    <ul class="mobile-socials" data-menu-nav>
      <li class="socials-item">
        <a
          href="https://www.facebook.com/nataliya.kachor"
          aria-label="Facebook link"
          target="_blank"
          referrerpolicy="no-referrer"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./assets/icons/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          href="https://www.linkedin.com/in/nataliya-kachor/"
          aria-label="Linkedin link"
          target="_blank"
          referrerpolicy="no-referrer"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./assets/icons/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
