<section class="offer" id="offers">
  <div class="offer-container">
    <h2 class="offers-title">CURRENT OFFERS</h2>
    <div class="select-wrapper">
      <select
        name="year"
        id="year"
        class="select"
        aria-label="Select year"
        style="width: 170px; margin-right: 20px"
      >
        <option value="">Year</option>
      </select>
      <select
        name="make"
        id="make"
        class="select"
        aria-label="Select make"
        style="width: 170px; margin-right: 20px"
      >
        <option value="">Make</option>
      </select>
      <select
        name="model"
        id="model"
        class="select"
        aria-label="Select model"
        style="width: 170px; margin-right: 20px"
      >
        <option value="">Model</option>
      </select>
      <select
        name="fuelType"
        id="fuelType"
        class="select"
        aria-label="Select fuel type"
        style="width: 170px; margin-right: 20px"
      >
        <option value="">Fuel type</option>
      </select>
      <select
        name="mileage"
        id="mileage"
        class="select"
        aria-label="Select mileage"
        style="width: 170px; margin-right: 20px"
      >
        <option value="">Mileage</option>
      </select>
      <button class="offers-btn">40 Cars</button>
    </div>

    <div>
      <input type="checkbox" />
      <select name="" id=""></select>
    </div>
  </div>
</section>
