<section class="subscribe" id="subscribe">
  <div class="subscribe-container">
    <div class="subscribe-wrapper">
      <h4 class="subscribe-title">Haven't found a suitable vehicle?</h4>
      <p class="subscribe-text">
        Sign up for our newsletter and be the first to know when we publish new
        vehicle offers.
      </p>
    </div>
    <div class="subscribe-form">
      <input
        type="email"
        class="form-control subscribe-input"
        id="exampleFormControlInput1"
        placeholder="Enter your email"
        aria-placeholder="Enter your email"
      />
      <button type="button" class="subscribe-btn" data-modal-open>
        Subscribe now
      </button>
    </div>
  </div>
</section>
