.footer {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: $secondaryBgColor;
}
.footer-container {
  @extend .main-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767.98px) {
    gap: 40px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.link {
  width: 140px;
  height: 35px;
  cursor: pointer;
}
.nav {
  display: flex;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 40px;
  }
}
.footer-link {
  color: $mainBgColor;
  font-weight: 500;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accentColor;
    transition: color $transitionTime $transitionCubic;
  }
}
.socials {
  display: flex;
  align-items: center;
  gap: 24px;
}
.socials-icon {
  fill: $mainBgColor;
  &:hover,
  &:focus {
    fill: $accentColor;
    transition: fill $transitionTime $transitionCubic;
  }
}
