.header {
  position: absolute;
  width: 100%;
  z-index: 50;
}
.header-container {
  @extend .main-container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
    cursor: pointer;
  }
}
.nav-list {
  display: flex;
  gap: 40px;
}
.header-link {
  color: $mainBgColor;
  font-weight: 500;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accentColor;
    transition: color $transitionTime $transitionCubic;
  }
}
.socials {
  display: flex;
  align-items: center;
  gap: 24px;
}
.socials-icon {
  fill: $mainBgColor;
  &:hover,
  &:focus {
    fill: $accentColor;
    transition: fill $transitionTime $transitionCubic;
  }
}
