.hero {
  position: relative;
  height: 680px;
  background-image: url('../assets/images/hero-sm.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    background-image: url('../assets/images/hero-md.jpg');
  }

  @media screen and (min-width: 1140px) {
    background-image: url('../assets/images/hero.jpg');
  }
}
.hero-container {
  @extend .container;
  padding-top: 120px;

  @media screen and (min-width: 768px) {
    padding-top: 190px;
    padding-bottom: 150px;
  }
}
.hero-title {
  font-family: $mainFont;
  font-size: 40px;
  font-weight: 500;
  color: $mainBgColor;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 50px;
    font-weight: 700;
  }
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
    margin-bottom: 70px;
  }
}
.text {
  max-width: 295px;
  color: $mainBgColor;
}
.hero-button {
  color: $mainBgColor;
  font-weight: 500;
  font-size: 20px;
  padding: 14px 90px;
  background-color: transparent;
  border: 2px solid $mainBgColor;
  border-radius: 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $mainBgColor;
    color: $mainTextColor;
    transition: background-color $transitionTime $transitionCubic,
      color $transitionTime $transitionCubic;
  }
}
