.offer-container {
  @extend .container;
  padding-top: 60px;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    @media screen and (min-width: 1140px) {
      padding-top: 100px;
    }
  }
}
.offers-title {
  text-align: center;
  font-family: $secondaryFont;
  font-size: 36px;
  font-weight: 700;
  color: $titleColor;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1140px) {
    font-size: 50px;
    margin-bottom: 80px;
  }
}

.offers-btn {
  width: 290px;
  height: 48px;
  border: 1px solid $borderColor;
  border-radius: 15px;
}
.car-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}
.car-wrapper {
  width: 295;
  min-height: 370px;
  background-color: $mainBgColor;
}
