.offer-container {
  @extend .container;
  padding-top: 60px;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    @media screen and (min-width: 1140px) {
      padding-top: 100px;
    }
  }
}
.offers-title {
  text-transform: uppercase;
  text-align: center;
  font-family: $secondaryFont;
  font-size: 36px;
  font-weight: 700;
  color: $titleColor;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1140px) {
    font-size: 50px;
    margin-bottom: 80px;
  }
}
.offers-btn {
  width: 290px;
  height: 48px;
  border: 1px solid $accentColor;
  border-radius: 15px;
  background-color: $accentColor;
  color: $mainBgColor;
  font-size: 15px;

  &:hover,
  &:focus {
    border: 2px solid $accentColor;
    background-color: transparent;
    color: $accentColor;
    transition: border $transitionTime $transitionCubic,
      color $transitionTime $transitionCubic,
      background-color $transitionTime $transitionCubic;
  }
}
.car-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}
.car-wrapper {
  width: 295;
  min-height: 370px;
  background-color: $mainBgColor;
}
