.offer-container {
  @extend .container;
  padding-top: 100px;
  padding-bottom: 80px;
}
.offers-title {
  text-align: center;
  font-family: $secondaryFont;
  font-size: 36px;
  font-weight: 700;
  color: $titleColor;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1140px) {
    font-size: 50px;
    margin-bottom: 80px;
  }
}
.select-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 24px;

  @media screen and (min-width: 1140px) {
    flex-wrap: nowrap;
  }
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 170px;
  height: 48px;
  font-size: 15px;
  border: 1px solid $borderColor;
  border-radius: 15px;
  padding: 14px;
}

.select::after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  background-color: $titleColor;
}

.select::-webkit-scrollbar {
  width: 12px;
}

.select::-webkit-scrollbar-thumb {
  background: $mobileBgColor;
  border-radius: 10px;
}

.select::-webkit-scrollbar-thumb:hover {
  background: $titleColor;
}

.offers-btn {
  width: 290px;
  height: 48px;
  border: 1px solid $borderColor;
  border-radius: 15px;
}
.car-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}
.car-wrapper {
  width: 295;
  min-height: 370px;
  background-color: $mainBgColor;
}
