.subscribe {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $secondaryBgColor;
}
.subscribe-container {
  @extend .main-container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
  }
}
.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;

  @media screen and (min-width: 1440px) {
    min-width: 500px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.subscribe-title {
  color: $mainBgColor;
  font-size: 25px;
  font-weight: 600;
  @media screen and (max-width: 1439.98px) {
    text-align: center;
  }
}
.subscribe-text {
  color: $mainBgColor;
  font-size: 15px;

  @media screen and (max-width: 1439.98px) {
    text-align: center;
  }
}
.subscribe-form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @media screen and (min-width: 1440px) {
    justify-content: flex-start;
  }
}
.subscribe-btn {
  min-width: 120px;
  color: $mainTextColor;
  font-weight: 500;
  font-size: 15px;
  padding: 17px 8px;
  background-color: $mainBgColor;
  border: 2px solid $mainBgColor;
  border-radius: 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: transparent;
    border: 2px solid $mainBgColor;
    color: $mainBgColor;
    transition: background-color $transitionTime $transitionCubic,
      color $transitionTime $transitionCubic,
      border $transitionTime $transitionCubic;
  }

  @media screen and (min-width: 480px) {
    min-width: 190px;
    padding: 17px 17px;
  }
}
.subscribe-input {
  color: $mainBgColor;
  font-weight: 500;
  font-size: 15px;
  padding: 16px 16px;
  background-color: $secondaryBgColor;
  border: 1px solid $borderColor;
  border-radius: 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: transparent;
    border: 2px solid $mainBgColor;
    color: $mainBgColor;
    transition: background-color $transitionTime $transitionCubic,
      color $transitionTime $transitionCubic,
      border $transitionTime $transitionCubic;
  }

  @media screen and (min-width: 768px) {
    width: 500px;
  }
}
.subscribe-input::placeholder {
  color: $secondaryTextColor;
  font-size: 15px;
}
